Package: com.paadyhr.peterstema
Name: PetersTema
Version: 0.1.10
Architecture: iphoneos-arm
Description: Peters Tema
Homepage: https://500pd.github.io
Depiction: https://500pd.github.io/cydia/depictions/PetersTema/index.html
Maintainer: Peter András Adorján Dyhr <paadyhr@gmail.com>
Author: Peter András Adorján Dyhr <paadyhr@gmail.com>
Section: Themes
Depends: 

