Package: com.paadyhr.osxtheme
Name: OS X Theme
Version: 1.5
Architecture: iphoneos-arm
Description: OS X Theme
Homepage: http://500pd.github.io
Depiction: http://500pd.github.io/cydiarepo/depictions/OS_X_Theme/index.html
Maintainer: Peter András Adorján Dyhr <paadyhr@gmail.com>
Author: Peter András Adorján Dyhr <paadyhr@gmail.com>
Section: Themes
Depends: winterboard

