Package: com.paadyhr.osxtheme
Name: OS X Theme
Version: 1.7
Architecture: iphoneos-arm
Description: OS X Theme
Homepage: https://500pd.github.io
Depiction: https://500pd.github.io/cydia/depictions/OS_X_Theme/index.html
Maintainer: Peter András Adorján Dyhr <paadyhr@gmail.com>
Author: Peter András Adorján Dyhr <paadyhr@gmail.com>
Section: Themes
Depends: 

