Package: com.paadyhr.statusbartheme
Name: StatusBar tema
Version: 1.0
Architecture: iphoneos-arm
Description: Statusbar tema
Homepage: https://500pd.github.io
Depiction: https://500pd.github.io/cydia/depicions/StatusBarTheme/index.html
Maintainer: Peter András Adorján Dyhr <paadyhr@gmail.com>
Author: Peter András Adorján Dyhr <paadyhr@gmail.com>
Section: Themes
Depends:

