Package: com.paadyhr.whitebootlogo
Name: White BootLogo
Version: 1.6
Architecture: iphoneos-arm
Description: White Bootlogo
Homepage: http://500pd.github.io
Depiction: http://500pd.github.io/cydiarepo/depictions/WhiteBootLogo/index.html
Maintainer: Peter András Adorján Dyhr <paadyhr@gmail.com>
Auther: Peter András Adorján Dyhr <paadyhr@gmail.com>
Section: Themes
Depends: winterboard
