/* Funktioner */
h1 {
  color: rgb(47, 153, 87);
}
h2 {
  color: rgb(47, 153, 87);
}
h3 {
  color: rgb(47, 153, 87);
}
h4 {
  color: rgb(47, 153, 87);
}
h5 {
  color: rgb(47, 153, 87);
}
h6 {
  color: rgb(47, 153, 87);
}
body {
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}
div {
  width: auto;
  margin: auto;
}
nav {
  text-align: center;
  font-size: large;
}

/* Class */
.Midt {
  text-align: center;
}

/* Id */
